*.png
*.jpg
*.ltx
*.tex
*.emf
*.wmf
*.o
*.pdf
*.aux
*.log
*-latex
*.gz
extratest
rtfprep
rtf2latex
rtf2latex2e
.DS_Store
doc/rtf2latexDoc.out
doc/web/cole-2-0-1.zip
doc/web/manpage.html
doc/web/tool-RTF-1-10.zip
doc/web/usage.html
rqn/
test/Configurations2/
test/META-INF/
test/a.rtf
test/a.zip
test/alibre.rtf
test/ap.rtfd/
test/content.xml
test/deco.pl
test/eqn2rtf
test/manifest.rdf
test/meta.xml
test/mimetype
test/settings.xml
test/styles.xml
