body {
	text-align: center;
	min-width: 780px;
	background: #5d5048;
}

div#wrapper {
		margin: 0 auto;
		margin-top: 50px;
		border: 1px solid #ffffff;
		width: 780px;
}

div#logo {
		float: left;
		position: relative;
		width: 80px;
		height:500px;
		background: #5d5048 url('logo.png');
		background-position: bottom right;
		background-repeat: no-repeat;
}

h2 {
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
}

h3 {
		color: #ffffff;
		font-size: 12px;
		font-weight: bold;
}

b {
		color: #ffffff;
		font-weight: bold;
}

div#footer {
		width: 780px;
		clear: both;
		margin: 0 auto;
		font-family: trebuchet ms,arial,verdana;
		font-size: 8pt;
		font-weight: normal;
		color: #ffffff;
		letter-spacing: 1.1pt;
		padding-top: 20px;
		text-align: right;
}

div#footer A {
		color: #ffffff;
		font-weight: normal;
		text-decoration: none;
		text-transform: uppercase;
}

div#footer a[href]:hover {
		text-decoration: underline;
}


div#content a:link {
		color: #A89D82;
		font-weight: bold;
		text-decoration: none;
}

div#content a:visited {
		color: #A3A3A3;
		font-weight: bold;
		text-decoration: none;
}

div#content a[href]:hover {
		text-decoration: underline;
}


h1 {
		color: #bbc6b6;
		font-weight: bold;
		font-size: 20pt;
}

h2 {
		color: #bbc6b6;
		font-weight: bold;
		font-size: 15pt;
}

div#content {
		text-align: left;
		padding: 15px 15px 15px 15px;
		float: right;
		width: 640px;
		height: 100%;
		font-family: trebuchet ms,arial,verdana;
		font-size: 12pt;
		font-weight: normal;
		color: #ffffff;
		border: 1px solid #ffffff;
}

div#content pre{
		font-size: 10pt;
}

div#topbar {
		height: 75px;
		font-family: trebuchet ms,arial,verdana;
		font-size: 8pt;
		font-weight: normal;
		text-align: left;
		padding-left: 25px;
		padding-top: 10px;
		color: #ffffff;
		letter-spacing: 1.1pt;
		border-bottom: 1px solid #ffffff;
		clear: left;
}

div#topbar h1 {
		color: #bbc6b6;
		font-weight: bold;
		font-size: 25px;
}

div#menu {
		float: right;
		width: 780px;
}

div#menu A {
		display: block;
		width: 144px;
		position: relative;
		left:0px;
		top: 0px;
		z-index: 50;
		float: left;
		border: 1px solid #ffffff;
		height: 25px;
		line-height:25px;
		background: #998c84 url('arrow.gif'); 
		background-position: center left;
		background-repeat: no-repeat;
		font-family: trebuchet ms,arial,verdana;
		text-align: left;
		text-indent: 25px;
		font-size: 14px;
		text-decoration: none;
		padding-right: 10px;
		padding-top: 3px;
		font-weight: bold;
		color: #ffffff;
		text-transform: uppercase;
}

div#menu a:hover {
		background: #423433 url('arrow.gif');
		background-position: center left;
		background-repeat: no-repeat;
		color: #bbc6b6;
}
